<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme-switcher.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div>
    <div class="nav-bar">
      <div class="nav-container">
          <div class="brand">
              <a href="#">CodeCanvas</a>
          </div>
          <nav>
              <div class="nav-mobile">
                  <a href="#" id="nav-toggle">
                      <span></span>
                  </a>
              </div>
              <ul class="nav-list">
                <li id="view-code"><a href="https://github.com/WahomeKezia/CodeCanvas">View Code</a></li>
                <li id="contact-me"><a href="https://www.linkedin.com/in/kezia-wahome/">Contact Me</a></li>
                
                <li><a href="#">Portfolio</a></li>
            </ul>
          </nav>
      </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="static/js/script.js"></script>

  </div>
  <h1>
    <a href="{{ url_for('code') }}">Code to Image</a>: <span>{{ message }}</span>
  </h1>
    <main>
        {% block content %}{% endblock %}
    </main>
<!--     
    <div class="switch">
      <input name="switch" id="one" type="radio" checked/>
      <label for="one" class="switch__label">One</label>
      <input name="switch" id="two" type="radio" />
      <label for="two" class="switch__label">Two</label>
      <input name="switch" id="three" type="radio" />
      <label for="three" class="switch__label" >Three</label>
      <div class="switch__indicator"/></div>
    </div> -->

    <footer>
        &copy; 2023 Code Canvas
    </footer>
</body>
</html>





