<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        
    <nav>
      <div class="title">
        <a href="/">Code Canvas</a>
    </div>
        <ul>
            <li id="contact-me"><a href="https://www.linkedin.com/in/kezia-wahome/">Contact Me</a></li>
            <li id="view-code"><a href="https://github.com/WahomeKezia/CodeCanvas">View Code</a></li>
        </ul>
    </nav>
  </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        &copy; 2023 Code Canvas
    </footer>
</body>
</html>
