<!-- templates/code_input.html -->

{% extends "base.html" %}

{% block title %}
  - Code Input
{% endblock title %}

{% block content %}
<style>
  .code {
    min-height: calc({{ num_lines }}em * 1.5 + 2 * 1em);
    min-width: calc({{ max_chars }}ch + 4 * 2em);
  }
</style>
<form>
 
  <textarea
    class="code"
    name="code"
    placeholder="Paste your Python code here"
    rows="10"  
    cols="80"  
  >{{ code }}
</textarea>
<div class="controls">
  <button formmethod="post" formaction="{{ url_for('reset_session') }}">
    Reset Session ♻️
  </button>
  <button formmethod="post" formaction="{{ url_for('save_code') }}">
    Save Code 💾
  </button>
  <button formmethod="post" formaction="{{ url_for('save_style') }}">
    Next ➡️
  </button>
</div>

</form>
<script>
  const chatButton = document.getElementById('chat-button');
  const textArea = document.querySelector('textarea');

  chatButton.addEventListener('click', () => {
    // Toggle the display of the text area
    textArea.style.display = textArea.style.display === 'block' ? 'none' : 'block';
  });
</script>
{% endblock content %}