<!-- template is extending the base.html template, inheriting its structure -->
{% extends "base.html" %}

{% block title %}
  - Your Image
{% endblock title %}

{% block content %}
<form>

  <!-- This condition checks if the image_b64 variable exists -->
  {% if image_b64 %}
  
    <div class="code-picture">
      <!-- The img element displays an image encoded in base64 format using the image_b64 variable -->
      <img src="data:image/png;base64,{{ image_b64 | safe }}"
           alt="Code Image" />
    </div>
    <a href="data:image/png;base64,{{ image_b64 | safe }}"
       download="Your_CodeImage.png">
        Download Your Code Image ⤵️
      </a>
  {% endif %}
  <div class="controls">
    <button formmethod="get" formaction="{{ url_for("code") }}">
      🔄 Back to Start
    </button>
  </div>
</form>
{% endblock content %}
